* {
    padding: 0;
    margin: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-toggler span.active:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
  }
  .navbar-toggler span.active:nth-child(2) {
    transform: translateY(-4px) rotate(45deg);
  }
  .navbar-toggler span.active:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .about-us-bg {
    background-image: url("./assets/bg-shingle.jpg");
  }
  .about-us-content {
    background-color: rgba(0, 0, 0, 0.5);
  }
  a.active {
    color: #F37A1F;
  }